Repository CliMA/ClimaAtmos.jl, pull requests merged in 2023-12, with the labels that each got.

#2400 Add precipitation to Jacobian
  config/model_configs/single_column_precipitation_test.yml
  config/model_configs/sphere_aquaplanet_rhoe_equilmoist_allsky_gw_res.yml
  src/prognostic_equations/implicit/implicit_solver.jl
  src/prognostic_equations/implicit/implicit_tendency.jl
Labels: Microphysics

#2412 add vertical divergence to diagnostic edmf detrainment
  config/model_configs/diagnostic_edmfx_trmm_box.yml
  config/model_configs/diagnostic_edmfx_trmm_stretched_box.yml
  src/cache/diagnostic_edmf_precomputed_quantities.jl
  src/cache/precomputed_quantities.jl
  toml/diagnostic_edmfx_box.toml
  toml/diagnostic_edmfx_trmm_box.toml
Labels: EDMF :tornado:

#2401 Add cloud fraction diagnostics
  Project.toml
  config/default_configs/default_config.yml
  config/model_configs/single_column_precipitation_test.yml
  config/model_configs/sphere_held_suarez_rhoe_equilmoist_topography_dcmip.yml
  examples/hybrid/driver.jl
  perf/flame.jl
  src/ClimaAtmos.jl
  src/cache/cache.jl
  src/cache/cloud_fraction.jl
  src/cache/diagnostic_edmf_precomputed_quantities.jl
  src/cache/precomputed_quantities.jl
  src/cache/prognostic_edmf_precomputed_quantities.jl
  src/callbacks/callbacks.jl
  src/diagnostics/Diagnostics.jl
  src/diagnostics/core_diagnostics.jl
  src/diagnostics/netcdf_writer.jl
  src/prognostic_equations/buoyancy_gradients.jl
  src/prognostic_equations/cloud_fraction.jl
  src/prognostic_equations/edmfx_closures.jl
  src/solver/type_getters.jl
  src/solver/types.jl
  test/coupler_compatibility.jl
Labels: Microphysics, Diagnostics

#2434 Make the 1M scheme more stable
  config/model_configs/sphere_aquaplanet_rhoe_equilmoist_allsky_gw_res.yml
  src/parameterized_tendencies/microphysics/precipitation.jl
Labels: Microphysics

#2428 Add callback that estimates walltime
  perf/flame.jl
  src/cache/cache.jl
  src/callbacks/callbacks.jl
  src/solver/type_getters.jl
  src/utils/utilities.jl
  test/coupler_compatibility.jl
Labels: Logging :ledger:

#2440 Assert atmos to not have UnionAll types
  .buildkite/pipeline.yml
  src/ClimaAtmos.jl
  src/cache/cache.jl
  src/solver/type_getters.jl
  src/solver/types.jl
  src/utils/gpu_compat.jl
Labels: GPU

#2446 Skip progress callback for restarted simulations
  src/solver/type_getters.jl
Labels: Logging :ledger:
