Repository CliMA/ClimaAtmos.jl, pull requests merged in 2023-08, with the labels that each got.

#1927 CI: Add GPU Vs CPU dry HS comparison job
  .buildkite/pipeline.yml
Labels: Continuous integration :gear:, Tests, GPU, Reproducibility 🎲

#1956 add Prandtl number calculation
  src/cache/diagnostic_edmf_precomputed_quantities.jl
  src/prognostic_equations/edmfx_closures.jl
Labels: EDMF :tornado:

#1962 fix k_star in TKE boundary condition
  perf/flame.jl
  src/TurbulenceConvection_deprecated/Parameters.jl
  src/cache/diagnostic_edmf_precomputed_quantities.jl
Labels: bugfix :bug: :hammer:, EDMF :tornado:

#1961 add mixing length to diagnostics
  post_processing/remap/remap_helpers.jl
  src/callbacks/callbacks.jl
Labels: EDMF :tornado:

#1947 GPU-CPU comparison: Use relative error
  post_processing/compare_outputs.jl
Labels: Continuous integration :gear:, Tests, GPU

#1972 Clean up compat entries and update deps
  .dev/Manifest.toml
  Project.toml
  docs/Manifest.toml
  docs/Project.toml
  examples/Manifest.toml
  examples/Project.toml
  perf/Manifest.toml
  perf/Project.toml
  test/Project.toml
Labels: Dependencies :spider_web:

#2005 Update default horizontal sponge configuration + fix typo in help string
  config/default_configs/default_config.yml
  config/longrun_configs/longrun_aquaplanet_rhoe_equil_clearsky_highres_hightop_rayleigh35e3_float64.yml
  config/longrun_configs/longrun_aquaplanet_rhoe_equil_highres_allsky_ft64.yml
  config/longrun_configs/longrun_aquaplanet_rhoe_equil_highres_clearsky_ft64.yml
  config/longrun_configs/longrun_aquaplanet_rhoe_equil_highres_clearsky_ft64_earth.yml
  config/longrun_configs/longrun_bw_rhoe_equil_highres_topography_earth.yml
  config/longrun_configs/longrun_hs_rhoe_equil_highres_topography_earth.yml
  config/longrun_configs/longrun_hs_rhoe_equilmoist_highres_hightop_rayleigh30e3.yml
  config/longrun_configs/longrun_zalesak_tracer_energy_aquaplanet_rhoe_equil_highres_clearsky_ft64.yml
  config/model_configs/edmf_trmm.yml
  config/model_configs/plane_agnesi_mountain_test_stretched.yml
  config/model_configs/plane_agnesi_mountain_test_uniform.yml
  config/model_configs/plane_schar_mountain_test_stretched.yml
  config/model_configs/plane_schar_mountain_test_uniform.yml
  config/model_configs/sphere_aquaplanet_rhoe_equilmoist_allsky_gw_raw_zonallyasymmetric.yml
  config/model_configs/sphere_aquaplanet_rhoe_equilmoist_allsky_gw_res.yml
  config/model_configs/sphere_held_suarez_rhoe_equilmoist_hightop_sponge.yml
  config/model_configs/sphere_ssp_first_tracer_energy_upwind_held_suarez_rhoe_equilmoist_hightop_sponge.yml
  config/perf_configs/flame/perf_gw.yml
Labels: Quality assurance

#2008 Configuration files for multi-year, high-topped, moist Held-Suarez
  .buildkite/longruns/pipeline.yml
  config/longrun_configs/longrun_hs_rhoe_equilmoist_nz64_0M_55km_rs35km.yml
Labels: Long runs :running_woman:

#2007 Config files for multi-year, high-topped, dry Held-Suarez simulation
  .buildkite/longruns/pipeline.yml
  config/longrun_configs/longrun_hs_rhoe_dry_nz63_55km_rs35km.yml
Labels: Long runs :running_woman:

#2009 Config file for high-topped aquaplanet simulation with gray radiation
  .buildkite/longruns/pipeline.yml
  config/longrun_configs/longrun_aquaplanet_rhoe_equil_gray_55km_nz63_0M.yml
Labels: Long runs :running_woman:

#2011 Add 0-moment micro to diagnostic EDMFX
  .buildkite/pipeline.yml
  config/model_configs/diagnostic_edmfx_rico_box.yml
  config/model_configs/diagnostic_edmfx_trmm_box.yml
  perf/flame.jl
  src/ClimaAtmos.jl
  src/TurbulenceConvection_deprecated/closures/microphysics.jl
  src/cache/diagnostic_edmf_precomputed_quantities.jl
  src/cache/precomputed_quantities.jl
  src/parameterized_tendencies/microphysics/microphysics_wrappers.jl
  src/parameterized_tendencies/microphysics/precipitation.jl
Labels: EDMF :tornado:

#2035 Remove unused struct member surface_scheme
  src/solver/types.jl
Labels: House cleaning :broom:
