Repository CliMA/ClimaAtmos.jl, pull requests merged in 2024-11, with the labels that each got.

#3410 Allow for flakiness in reproducibility tests
  .buildkite/pipeline.yml
  examples/hybrid/driver.jl
  reproducibility_tests/README.md
  reproducibility_tests/compute_mse.jl
  reproducibility_tests/latest_comparable_paths.jl
  reproducibility_tests/move_output.jl
  reproducibility_tests/mse_tables.jl
  reproducibility_tests/print_new_mse.jl
  reproducibility_tests/print_new_ref_counter.jl
  reproducibility_tests/reproducibility_tests.jl
  reproducibility_tests/self_reference_or_path.jl
  reproducibility_tests/test_mse.jl
  reproducibility_tests/test_reset.jl
Labels: Reproducibility 🎲

#3429 Add a non-eqilibrium 1M job to longruns
  .buildkite/longruns_gpu/pipeline.yml
  config/longrun_configs/longrun_aquaplanet_allsky_1M_noneq.yml
Labels: Microphysics

#3425 Add more reproducibility tests
  .buildkite/pipeline.yml
  reproducibility_tests/mse_tables.jl
Labels: Reproducibility 🎲

#3430 Use env for repro tests, improve repro names
  .buildkite/pipeline.yml
  config/default_configs/default_config.yml
  config/model_configs/deep_sphere_baroclinic_wave_rhoe_equilmoist.yml
  config/model_configs/diagnostic_edmfx_aquaplanet.yml
  config/model_configs/single_column_precipitation_test.yml
  config/model_configs/sphere_aquaplanet_rhoe_equilmoist_allsky_gw_raw_zonallyasymmetric.yml
  config/model_configs/sphere_baroclinic_wave_rhoe_equilmoist.yml
  config/model_configs/sphere_held_suarez_rhoe_equilmoist_hightop_sponge.yml
  examples/hybrid/driver.jl
  reproducibility_tests/README.md
  reproducibility_tests/compute_mse.jl
  reproducibility_tests/move_output.jl
  reproducibility_tests/mse_tables.jl
  reproducibility_tests/print_new_mse.jl
  reproducibility_tests/print_new_ref_counter.jl
  reproducibility_tests/ref_counter.jl
  reproducibility_tests/reproducibility_tests.jl
  reproducibility_tests/test_mse.jl
  reproducibility_tests/test_reset.jl
Labels: Refactor, Reproducibility 🎲

#3433 Revert 3430 and 3425
  .buildkite/pipeline.yml
  config/default_configs/default_config.yml
  config/model_configs/deep_sphere_baroclinic_wave_rhoe_equilmoist.yml
  config/model_configs/diagnostic_edmfx_aquaplanet.yml
  config/model_configs/single_column_precipitation_test.yml
  config/model_configs/sphere_aquaplanet_rhoe_equilmoist_allsky_gw_raw_zonallyasymmetric.yml
  config/model_configs/sphere_baroclinic_wave_rhoe_equilmoist.yml
  config/model_configs/sphere_held_suarez_rhoe_equilmoist_hightop_sponge.yml
  examples/hybrid/driver.jl
  reproducibility_tests/README.md
  reproducibility_tests/compute_mse.jl
  reproducibility_tests/move_output.jl
  reproducibility_tests/mse_tables.jl
  reproducibility_tests/print_new_mse.jl
  reproducibility_tests/print_new_ref_counter.jl
  reproducibility_tests/ref_counter.jl
  reproducibility_tests/reproducibility_tests.jl
  reproducibility_tests/test_mse.jl
  reproducibility_tests/test_reset.jl
Labels: Workflow :gear: :ocean:

#3432 Update dependencies
  .dev/Manifest.toml
  docs/Manifest.toml
  examples/Manifest.toml
  perf/Manifest.toml
Labels: Dependencies :spider_web:

#3437 Add unit tests for some reproducibility infrastructure
  reproducibility_tests/compute_mse.jl
  reproducibility_tests/latest_comparable_paths.jl
  test/runtests.jl
  test/unit_reproducibility_infra.jl
Labels: Refactor, Reproducibility 🎲

#3438 Improve names, prep for more repro unit tests
  examples/hybrid/driver.jl
  reproducibility_tests/compute_mse.jl
  reproducibility_tests/move_output.jl
  reproducibility_tests/print_new_mse.jl
  reproducibility_tests/reproducibility_utils.jl
  reproducibility_tests/test_reset.jl
  test/unit_reproducibility_infra.jl
Labels: Tests, Reproducibility 🎲

#3439 Add docs, unit tests, and refactor repro test infra
  reproducibility_tests/move_output.jl
  reproducibility_tests/reproducibility_utils.jl
  test/unit_reproducibility_infra.jl
Labels: documentation, Tests, Reproducibility 🎲

#3446 Eliminate Rayleigh sponge cache
  src/parameterized_tendencies/sponge/rayleigh_sponge.jl
  src/prognostic_equations/implicit/implicit_solver.jl
  src/prognostic_equations/implicit/implicit_tendency.jl
  src/solver/model_getters.jl
  src/solver/types.jl
  test/parameterized_tendencies/sponge/rayleigh_sponge.jl
  test/parameterized_tendencies/sponge/viscous_sponge.jl
Labels: Refactor

#3448 Eliminate subsidence cache
  src/cache/cache.jl
  src/prognostic_equations/forcing/subsidence.jl
  test/coupler_compatibility.jl
Labels: Refactor

#3445 Pass subset of ClimaAtmosParameters to detrainment
  src/cache/diagnostic_edmf_precomputed_quantities.jl
  src/cache/prognostic_edmf_precomputed_quantities.jl
  src/prognostic_equations/edmfx_closures.jl
  src/prognostic_equations/edmfx_entr_detr.jl
Labels: GPU

#3447 Eliminate ViscousSponge cache, fix unit test
  src/ClimaAtmos.jl
  src/cache/cache.jl
  src/compat.jl
  src/parameterized_tendencies/sponge/rayleigh_sponge.jl
  src/parameterized_tendencies/sponge/viscous_sponge.jl
  src/prognostic_equations/implicit/implicit_solver.jl
  src/prognostic_equations/implicit/implicit_tendency.jl
  src/solver/model_getters.jl
  src/solver/types.jl
  test/coupler_compatibility.jl
  test/parameterized_tendencies/sponge/rayleigh_sponge.jl
  test/parameterized_tendencies/sponge/viscous_sponge.jl
  test/runtests.jl
Labels: Refactor, Tests

#3449 Eliminate forcing cache
  src/cache/cache.jl
  src/parameterized_tendencies/radiation/held_suarez.jl
  test/coupler_compatibility.jl
Labels: Refactor
