Repository CliMA/ClimaAtmos.jl, pull requests merged in 2025-06, with the labels that each got.

#3839 Update dependencies
  .buildkite/Manifest-v1.11.toml
Labels: dependencies

#3848 Update to CloudMicrophysics v0.23
  .buildkite/Manifest-v1.11.toml
  Project.toml
  src/cache/diagnostic_edmf_precomputed_quantities.jl
  src/cache/precipitation_precomputed_quantities.jl
  src/cache/prognostic_edmf_precomputed_quantities.jl
  src/parameterized_tendencies/microphysics/microphysics_wrappers.jl
Labels: Microphysics

#3845 Reduce dependency on specific cache
  src/cache/cloud_fraction.jl
  src/cache/precipitation_precomputed_quantities.jl
  src/cache/precomputed_quantities.jl
  src/parameterized_tendencies/microphysics/cloud_condensate.jl
  src/prognostic_equations/edmfx_sgs_flux.jl
  src/prognostic_equations/forcing/external_forcing.jl
  src/prognostic_equations/hyperdiffusion.jl
  src/prognostic_equations/implicit/implicit_tendency.jl
  src/prognostic_equations/implicit/manual_sparse_jacobian.jl
  src/utils/variable_manipulations.jl
Labels: Refactor

#3862 Update CloudMicrophysics.jl to version 24.0
  .buildkite/Manifest-v1.11.toml
  Project.toml
  src/cache/prognostic_edmf_precomputed_quantities.jl
  src/parameterized_tendencies/microphysics/cloud_condensate.jl
  src/parameterized_tendencies/microphysics/microphysics_wrappers.jl
Labels: Microphysics

#3861 Remove ts and clean up clippings from NonEq cloud sources
  src/cache/prognostic_edmf_precomputed_quantities.jl
  src/parameterized_tendencies/microphysics/cloud_condensate.jl
  src/parameterized_tendencies/microphysics/microphysics_wrappers.jl
Labels: Microphysics
